#menu
{
    padding: 0px; 
    padding-top: 10px;
    padding-bottom: 10px;
    /*list-style-type: disc;*/
    list-style-type: none;
    /*list-style-image: url('../img/arrow.png');*/
}

#menu ul {
    /*width: 180px;  Ширина меню */
    list-style: none; /* Для списка убираем маркеры */
    margin: 0; /* Нет отступов вокруг */
    padding: 0; /* Убираем поля вокруг текста */
    font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
    font-size: 10pt; /* Размер названий в пункте меню */
}
#menu li ul {
	position: absolute; /* Подменю позиционируются абсолютно */
	display: none; /* Скрываем подменю */
	margin-left: 165px; /* Сдвигаем подменю вправо */
	margin-top: -2em; /* Сдвигаем подменю вверх */
	border: 1px solid #357;
	/*border-radius: 7px !important; 	*/
	box-shadow: 0 0 20px rgba(51,85,119,0.8) !important;
}

#menu li a {
    display: block; /* Ссылка как блочный элемент */
    padding: 5px; /* Поля вокруг надписи */
    padding-left: 20px; /* Поля вокруг надписи */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: #03457a; /* Цвет текста */
    border: 1px solid #357;/* Рамка вокруг пунктов меню */
    border: 0; 
    border-bottom: none; /* Границу снизу не проводим */
    background-image:url('../img/arrow.png') !important;
    background-position: 10px center; 
    background-repeat:no-repeat;	
    background-color: white; /* Цвет фона */
}

#menu li a:hover {
    color: #ffe; /* Цвет текста активного пункта */
    background-color: #357; /* Цвет фона активного пункта */
    background-image:url('../img/arrow_white.png') !important;
}
#menu li:hover ul { 
    display: block; /* При выделении пункта курсором мыши отображается подменю */
}

#menu li .sel 
{
    background-color: #f0f0f0; /* Цвет фона активного пункта */
}

#menu .brd {
    border-bottom: 1px solid #ccc; /* Линия снизу */
}