.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}

/* bootstrap/examples/dashboard */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0;
  margin-right: 0;
}
